<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Osu! profile scraper</title>
  </head>
  <body>
    <p class="info">
      <strong>Info:</strong> This is a simple web scraper that scrapes data from
      osu! profiles. It can scrape data from a single profile or multiple
      profiles. The data that can be scraped includes the user's rank, pp, play
      count, accuracy, and more.
    </p>
  </body>
</html>
